@media screen and (min-width: 800px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    body {
        background-color: rgb(246, 246, 246);
    }
    header {
        background-color: #0B132B;
        text-align: center;
        color: rgb(255, 0, 25);
        padding: 1ch;
        margin-bottom: 1ch;
        height: 10vh;
    }
    header p {
        color: rgb(255, 0, 25);
    }
    main {
        height: 85vh;        
        display: flex;        
        align-items: center;        
        justify-content: center;
    }
    #corpoDaCalculadora {
        background-color: #3A506B;    
        text-align: center;
        font-style: oblique;
        font-weight: bold;
        padding: 1ch;
        border-radius: 2ch;
        margin: auto;
        width: 480px;
    }
    #areaEntradaDadoVisor {
        width: 100%;
        padding: 1ch;     
        background-color: #3F88C5;
        color: #ffffff;
        font-size: 2vh;        
        border-radius: 1ch 1ch 0 0;        
        border-bottom: .5em solid #3A506B;
    }
    #areaEntradaDadoVisor input {
        background: #3A506B;
        color: #ffffff;
        text-align: right;
        font-size: 2em;
        width: 80%;
    }
    #areaEntradaDadoVisor > #Visor {
        padding: 1ch;
        height: 5ch;
        background-color: #3A506B;
        color: #ffffff;
        font-size: 3vh;    
        text-align: right;        
    }
    #areaTeclado {
        background-color: #3F88C5;
        width: 100%;        
        padding: 1ch;        
        border-radius: 0 0 1ch 1ch;
    }
    #areaTeclado .button {
        border: solid #3A506B 3px;
        font-weight: bold;
        font-size: 1em;
        padding: 3ch;
        width: 100%;
        border-radius: 1ch;
    }
    #areaTeclado .button2Linhas {        
        border: solid #3A506B 3px;        
        margin: 0 auto;
        padding: 8ex 0ex;
    }
    #areaTeclado .margin-bottom {
        margin-bottom: 1ch;        
    }
    footer {
        height: 5vh;
        background-color: #0B132B;
        color: #ffffff;
        text-align: right;
    }
    footer span a {
        color: #D72638;
    }
}